#page-not-found {
  background-color: var(--color-2);
  border-bottom: 1px solid var(--color-3);
  height: 80vh;
}

#page-not-found .container {
  padding: 3% 5%;
}

.page-not-found-title {
  font-size: 3rem;
}
